meta(charset="UTF-8")
meta(name="description" content="Description for the website")
meta(name="keywords" content="")
meta(name="author" content="Huy Chau")
link(rel="stylesheet", href="styles/main.scss")
