doctype html
html(lang="")
  head
    title Contact Us | Website Name
    include templates/head
  body

    //- Header
    include templates/header

    //- Main content
    section.main-content
      .container
        h2 This is contact pages

    //- Footer
    include templates/footer

    //- Scripts
    include templates/scripts
    script(src="scripts/pages/contact.js")
