extends templates/layout/main
block head
  title Contact
  meta(name="description" content="Description for contact page")
  meta(name="keywords" content="")
block content
  p This is contact page
block scripts
  script(src="scripts/pages/contact.js")
