doctype html
html(lang="")
  head
    title 404 Not Found | Website Name
    include templates/head
  body

    //- Header
    include templates/header

    //- Main content
    section.main-content
      .container
        h2 This is 404 page

    //- Footer
    include templates/footer

    //- Scripts
    include templates/scripts
    script(src="scripts/pages/error.js")
