extends templates/layout/main
block head
  title 404 Not Found | Website Name
  meta(name="description" content="Description for home page")
  meta(name="keywords" content="")
block content
   section.main-content
      .container
        h2 This is 404 page
block scripts
  script(src="scripts/pages/error.js")
