extends templates/layout/main
block head
  title Index | Website Name
  meta(name="description" content="Description for home page")
  meta(name="keywords" content="")
block content
  include templates/sections/home/section1
  include templates/sections/home/section2
block scripts
  script(src="scripts/pages/home.js")
